@model Task_Manager.Models.Employee

@{
    ViewData["Title"] = "Add Employee";
}

<h2>Add Employee</h2>

@using (Html.BeginForm("Add", "Accounts", FormMethod.Post))

{
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" type="number" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="phone"></label>
        <input asp-for="phone" class="form-control" />
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SuperVisor"></label>
        <input asp-for="SuperVisor" class="form-control" type="number" />
        <span asp-validation-for="SuperVisor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAdmin"></label>
        <input asp-for="IsAdmin" class="form-control" type="checkbox" />
        <span asp-validation-for="IsAdmin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PassWord"></label>
        <input asp-for="PassWord" class="form-control" type="PassWord" />
        <span asp-validation-for="PassWord" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentId"></label>
        <input asp-for="DepartmentId" class="form-control" type="number" />
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Employee</button>
}
