@model Task_Manager.Models.Employee

@{
    ViewData["Title"] = "Add Employee";
}

<h2>Add Employee</h2>

@using (Html.BeginForm("Add", "Accounts", FormMethod.Post))
{
<div class="mb-3">
    <span asp-validation-summary="All" class="text-danger"></span>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter First Name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" placeholder="Enter Last Name" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Age" class="form-label"></label>
            <input asp-for="Age" class="form-control" type="number" placeholder="Enter Age" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="phone" class="form-label"></label>
            <input asp-for="phone" class="form-control" placeholder="Enter Phone Number" />
            <span asp-validation-for="phone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="Enter Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PassWord" class="form-label"></label>
            <input asp-for="PassWord" class="form-control" type="PassWord" placeholder="Enter PassWord" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="SuperVisor"></label>
            <input asp-for="SuperVisor" class="form-control" type="number" />
            <span asp-validation-for="SuperVisor" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <div class="form-group form-check">
                <input asp-for="IsAdmin" class="form-check-input" type="checkbox" id="isAdmin" />
                <label asp-for="IsAdmin" class="form-check-label" for="isAdmin">Is Admin?</label>
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DepartmentId" class="form-label">Department</label>
            @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.Departments, new { @class = "form-control" })
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">Add Employee</button>
}
